<p id="notice"><%= notice %></p>

<h1>Issues</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Client name</th>
      <th>Issue type</th>
      <th>Assigned developer</th>
      <th>Assigned tester</th>
      <th>Cycle count</th>
      <th>Days per cycle</th>
      <th>Release date</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @issues.each do |issue| %>
      <tr>
        <td><%= issue.client_name %></td>
        <td><%= issue.issue_type_id %></td>
        <td><%= issue.assigned_developer_id %></td>
        <td><%= issue.assigned_tester_id %></td>
        <td><%= issue.cycle_count %></td>
        <td><%= issue.days_per_cycle %></td>
        <td><%= issue.release_date %></td>
        <td><%= issue.status_id %></td>
        <td><%= link_to 'Show', issue %></td>
        <td><%= link_to 'Edit', edit_issue_path(issue) %></td>
        <td><%= link_to 'Destroy', issue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Issue', new_issue_path %>
